
/*============== Import fonts ===============*/
/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
@import url(http://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic);
*/@import url(bucket-ico-fonts.css);



html {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}
body {
    color:#767676;
    background:#f1f2f7;
    font-family:'Open Sans',sans-serif;
    padding:0px !important;
    margin:0px !important;
    font-size:13px;
    text-rendering:optimizeLegibility;
}
ul li {
    list-style:none;
}
a,a:hover,a:focus {
    text-decoration:none;
    outline:none;
}
::selection {
    background:#1FB5AD;
    color:#fff;
}
::-moz-selection {
    background:#1FB5AD;
    color:#fff;
}


#container {
    width:100%;
    height:100%;
    -webkit-transition:all .3s ease-in-out;
    -moz-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
    transition: all .3s ease-in-out;
}




/*sidebar navigation*/
#sidebar {
    width:240px;
    height:100%;
    position:fixed;
    background:#32323a;
    -webkit-transition:all .3s ease-in-out;
    -moz-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out;
}
#sidebar ul li {
    position: relative;
}

.leftside-navigation,.right-stat-bar{
    height: 100%;
}
/*LEFT NAVIGATION ICON*/
.dcjq-icon {
    height:17px;
    width:17px;
    display:inline-block;
    background:url(../images/nav-expand.png) no-repeat top;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    position:absolute;
    right:10px;
}
.active .dcjq-icon {
    background:url(../images/nav-expand.png) no-repeat bottom;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}
.right-side-accordion .dcjq-icon {
    height:17px;
    width:17px;
    display:inline-block;
    background:url(../images/acc-expand.png) no-repeat top;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    position:absolute;
    right:10px;
}
.right-side-accordion .active .dcjq-icon {
    background:url(../images/acc-expand.png) no-repeat bottom;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius: 3px;
}

.right-side-accordion li:nth-child(2) ul li .prog-row {
    border: none;
}
/*---*/
.nav-collapse.collapse {
    display:inline;
}
ul.sidebar-menu,ul.sidebar-menu li ul.sub {
    margin:-2px 0 0;
    padding:0;
}
ul.sidebar-menu {
    padding-top:80px;

}
#sidebar>ul>li>ul.sub {
    display:none;
}
#sidebar .sub-menu>.sub li a {
    padding-left:46px;
}
#sidebar>ul>li.active>ul.sub,#sidebar>ul>li>ul.sub>li>a {
    display:block;
}
ul.sidebar-menu li ul.sub li {
    background:#28282e;
    margin-bottom:0;
    margin-left:0;
    margin-right:0;
}
ul.sidebar-menu li ul.sub li a {
    font-size:12px;
    padding-top:13px;
    padding-bottom:13px;
    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
    transition:all 0.3s ease;
    color:#aeb2b7;
}
ul.sidebar-menu li ul.sub li a:hover,ul.sidebar-menu li ul.sub li.active a {
    color:#1fb5ad;
    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
    transition:all 0.3s ease;
    display:block;
    background:#202025;
}
ul.sidebar-menu li {
    border-bottom:1px solid rgba(255,255,255,0.05);
}
ul.sidebar-menu li.sub-menu {
    line-height:15px;
}
ul.sidebar-menu ul.sub li {
    border-bottom:none;
}
ul.sidebar-menu li a span {
    display:inline-block;
}
ul.sidebar-menu li a {
    color:#aeb2b7;
    text-decoration:none;
    display:block;
    padding:18px 0 18px 25px;
    font-size:12px;
    outline:none;
    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
    transition:all 0.3s ease;
}
ul.sidebar-menu li a.active,ul.sidebar-menu li a:hover,ul.sidebar-menu li a:focus {
    background:#28282e;
    color:#1FB5AD;
    display:block;
    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
    transition:all 0.3s ease;
}
ul.sidebar-menu li a i {
    font-size:15px;
    padding-right:6px;
}
ul.sidebar-menu li a:hover i,ul.sidebar-menu li a:focus i {
    color:#1fb5ad;
}
ul.sidebar-menu li a.active i {
    color:#1fb5ad;
}





/*main content*/
#main-content {
    margin-left:240px;
    -webkit-transition:all .3s ease-in-out;
    -moz-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out;
}
.footer {
    min-height:60px;
    padding:0 15px;
}
.header {
    left:0;
    right:0;
    z-index:1002;
    background:#fff;
    -webkit-transition:all .3s ease-in-out;
    -moz-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out;
}
.merge-header {
    margin-right:240px;
}
.fixed-top {
    position:fixed;
    box-shadow:1px 0 3px rgba(0,0,0,.15);
}
.wrapper {
    display:inline-block;
    margin-top:80px;
    padding:15px;
    width:100%;

}
.brand {
    background:#1fb5ad;
    float:left;
    width:240px;
    height:80px;
    position:relative;
}
a.logo {
    font-size:21px;
    color:#2e2e2e;
    float:left;
    margin:20px 0 0 25px;
    text-transform:uppercase;
}
a.logo:hover,a.logo:focus {
    text-decoration:none;
    outline:none;
}
a.logo span {
    color: #FF6C60;
}



/*notification*/
#top_menu .nav>li,ul.top-menu>li {
    float:left;
}
.notify-row {
    float:left;
    margin-top:23px;
    margin-left:25px;
}
ul.top-menu {
    margin-right:15px;
    margin-top: 0;
}
ul.top-menu > li > a {
    color:#666666;
    font-size:16px;
    background:#f6f6f6;
    padding:4px 8px;
    margin-right:15px;
    border-radius:50%;
    -webkit-border-radius:50%;
    padding-right:8px !important;
}
ul.top-menu>li>a:hover,ul.top-menu>li>a:focus {
    background:#32D2C9;
    text-decoration:none;
    color:rgba(0,0,0,0.3) !important;
    padding-right:8px !important;
}
.notify-row .badge {
    position:absolute;
    right:-10px;
    top:-10px;
    z-index:100;
}
.dropdown-menu.extended {
    max-width:320px !important;
    min-width:160px !important;
    top:42px;
    width:300px !important;
    padding:0 10px;
    box-shadow:0 0px 5px rgba(0,0,0,0.1) !important;
    border-radius:5px;
    -webkit-border-radius:5px;
    background:#fff;
    border:none;
    left:-10px;
}
.dropdown-menu.extended.inbox li a,.dropdown-menu.extended.tasks-bar li a {
    background:#f1f2f7;
    border-radius:5px;
    -webkit-border-radius:5px;
    padding:10px;
    margin-bottom:10px;
    float:left;
    width:100%;
}
.dropdown-menu.extended li p {
    margin:0;
    padding:10px 0;
    border-radius:0px;
    -webkit-border-radius:0px;
}
.dropdown-menu.extended li a {
    font-size:12px;
    list-style:none;
}
.dropdown-menu.extended.logout {
    padding:10px;
}
.dropdown-menu.extended.logout li a {
    padding:10px;
}
.dropdown-menu.extended li a:hover {
    color:#32323a;
}
.dropdown-menu.tasks-bar .task-info .desc {
    font-size:13px;
    font-weight:normal;
    float:left;
    width:80%;
}
.dropdown-menu.tasks-bar .task-info .desc h5 {
    color:#32323a;
    text-transform:uppercase;
    font-size:12px;
    font-weight:600;
    margin-bottom:5px;
    margin-top:0;
}
.dropdown-menu.tasks-bar .task-info .desc p {
    padding-top:0;
    color:#8f8f9b;
    font-weight:300;
}
.dropdown-menu.tasks-bar .task-info .percent {
    width:20%;
    float:right;
    font-size:13px;
    font-weight:600;
    padding-left:10px;
    line-height:normal;
}
.dropdown-menu.tasks-bar .progress {
    background:#fff;
}
.dropdown-menu.extended .progress {
    margin-bottom:0 !important;
    height:10px;
}
.dropdown-menu.inbox li a .photo img {
    border-radius:2px 2px 2px 2px;
    -webkit-border-radius:2px 2px 2px 2px;
    float:left;
    height:40px;
    margin-right:10px;
    width:40px;
}
.dropdown-menu.inbox li a .subject {
    display:block;
}
.dropdown-menu.inbox li a .subject .from {
    font-size:12px;
    font-weight:600;
}
.dropdown-menu.inbox li a .subject .time {
    font-size:11px;
    font-style:italic;
    font-weight:bold;
    position:absolute;
    right:20px;
}
.dropdown-menu.inbox li a .message {
    display:block !important;
    font-size:11px;
}
.top-nav {
    margin-top:20px;
}
.top-nav img {
    border-radius:50%;
    -webkit-border-radius:50%;
    width:33px;
}
.top-nav ul.top-menu>li .dropdown-menu.logout {
    width:170px !important;
}
.top-nav li.dropdown .dropdown-menu {
    float:right;
    right:0;
    left:auto;
}
.dropdown-menu.extended.logout>li {
    float:left;
    width:100%;
}
.log-arrow-up {
    background:url("../images/top-arrow.png") no-repeat;
    width:18px;
    height:10px;
    margin-top:-20px;
    float:right;
    margin-right:15px;
}
.dropdown-menu.extended.logout>li>a {
    border-bottom:none !important;
}
.full-width .dropdown-menu.extended.logout>li>a:hover {
    background:#F1F2F7 !important;
    color:#32323a !important;
}
.dropdown-menu.extended.logout>li>a:hover {
    background:#F1F2F7 !important;
    border-radius:5px;
}
.dropdown-menu.extended.logout>li>a:hover i {
    color:#32D2C9;
}
.dropdown-menu.extended.logout>li>a i {
    font-size:17px;
}
.dropdown-menu.extended.logout>li>a>i {
    padding-right:10px;
}
.top-nav .username {
    font-size:13px;
    color:#555555;
}
.top-nav ul.top-menu>li>a {
    border-radius:100px;
    -webkit-border-radius:100px;
    padding:0px;
    background:none;
    margin-right:0;
    border:1px solid #F6F6F6;
    background:#F6F6F6;
}
.top-nav ul.top-menu>li.language>a {
    margin-top:-2px;
    padding:4px 12px;
    line-height:20px;
}
.top-nav ul.top-menu>li.language>a img {
    border-radius:0;
    -webkit-border-radius:0;
    width:18px;
}
.top-nav ul.top-menu>li.language ul.dropdown-menu li img {
    border-radius:0;
    -webkit-border-radius:0;
    width:18px;
}
.top-nav ul.top-menu>li {
    margin-left:10px;
}
.top-nav ul.top-menu>li>a:hover,.top-nav ul.top-menu>li>a:focus {
    border:1px solid #f6f6f6;
    background:#f6f6f6 !important;
    border-radius:100px;
    -webkit-border-radius:100px;
}
.top-nav .dropdown-menu.extended.logout {
    top:50px;
}
.top-nav .nav .caret {
    border-bottom-color:#A4AABA;
    border-top-color:#A4AABA;
}
.top-nav ul.top-menu>li>a:hover .caret {
    border-bottom-color:#000;
    border-top-color: #000;
}






/*form*/
.position-center {
    width:60%;
    margin: 0 auto;
}
/*----*/
.notify-arrow {
    background:url("../images/top-arrow.png") no-repeat;
    width:18px;
    height:10px;
    margin-top:0;
    opacity:0;
    position:absolute;
    left:16px;
    top:-20px;
    transition:all 0.25s ease 0s;
    z-index:10;
    margin-top:10px;
    opacity: 1;
}





/*--sidebar toggle---*/
.sidebar-toggle-box {
    float:left;
    margin-top:23px;
    margin-left:-15px;
    background:#32d2c9;
    border-radius:50%;
    -webkit-border-radius:50%;
    width:32px;
    height:32px;
    position:absolute;
    right:-15px;
}
.sidebar-toggle-box .fa-bars {
    cursor:pointer;
    display:inline-block;
    font-size:15px;
    padding:8px 8px 8px 9px;
    color:rgba(0,0,0,.3);
}
.sidebar-toggle-box:hover {
    background:#F6F6F6;
}
.hide-left-bar {
    margin-left:-240px !important;
    -webkit-transition:all .3s ease-in-out;
    -moz-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out;
}
.merge-left {
    margin-left:0px !important;
}




/*badge*/
.badge.bg-primary {
    background:#8075c4;
}
.badge.bg-success {
    background:#a9d86e;
}
.badge.bg-warning {
    background:#FCB322;
}
.badge.bg-important {
    background:#ff6c60;
}
.badge.bg-info {
    background:#41cac0;
}
.badge.bg-inverse {
    background: #2A3542;
}

/*fontawesome*/
.fontawesome-icon-list h2 {
    margin-top:0;
    font-size:20px;
    font-weight:300;
}
.fontawesome-icon-list .col-sm-4,.fontawesome-icon-list .col-md-3,.fontawesome-icon-list .col-xs-6 {
    margin-bottom:10px;
}
.fontawesome-icon-list .page-header {
    border-bottom:1px solid #C9CDD7;
}
.fontawesome-icon-list a {
    color:#797979;
}
.fontawesome-icon-list a:hover {
    color:#35404D;
}
.fontawesome-icon-list i {
    font-size:16px;
    padding-right:10px;
}
#web-application,#text-editor,#directional,#video-player,#brand,#medical,#currency {
    margin-top: 10px;
}




/*404 page*/
.body-404 {
    background:#35bcb5;
    color:#fff;
}
.error-head {
    background:#fff;
    height:280px;
}
.error-wrapper {
    text-align:center;
}
.error-wrapper h1 {
    font-size:90px;
    font-weight:300;
    margin:-141px 0 0 0;
    text-align:center;
}
.error-wrapper h2 {
    font-size:58px;
    font-weight:300;
    margin:0;
    text-transform:uppercase;
}
.error-desk {
    background:rgba(0,0,0,0.05);
    margin-top:-27px;
    padding:30px 0;
}
.error-wrapper p,.error-wrapper p a {
    font-size:18px;
    font-weight:300;
    margin:0;
}
.error-wrapper p.nrml-txt {
    color:#03f1e4;
    font-size:40px;
    margin:0;
}
.back-btn,.back-btn:hover {
    border:1px solid rgba(255,255,255,.5);
    padding:10px 15px;
    margin-top:100px;
    display:inline-block;
    border-radius:5px;
    -webkit-border-radius:5px;
    color:#fff;
    font-size:16px;
    font-weight:300;
}
.back-btn:hover {
    background:#fff;
    color: #02a9a0;
}


/*500 page*/
.body-500 {
    background:#a48ad4;
    color:#fff;
}
.error-wrapper p.page-500 {
    color:#afa5f1;
}
.body-500 .back-btn:hover {
    background:#fff;
    color:#a48ad4;
}
.error-wrapper p.nrml-txt-alt {
    color:#fff;
    font-size:34px;
    margin:0;
    text-transform:uppercase;
}
.sp-link,.sp-link:hover {
    color:#ffef3b;
    text-decoration:underline;
}
.sp-link:hover {
    text-decoration: none;
}



/*profile*/
.profile-information .profile-pic img {
    width:160px;
    height:160px;
    border-radius:50%;
    -webkit-border-radius:50%;
    border:10px solid #f1f2f7;
    margin-top:20px;
}
.profile-information .profile-desk {
    border-right:1px solid #ddd;
    padding-right:30px;
}
.profile-information .profile-desk h1 {
    color:#1fb5ad;
    font-size:24px;
    font-weight:bold;
    margin-bottom:0;
}
.profile-information .profile-desk span,.profile-information .profile-desk p {
    padding-bottom:25px;
    display:inline-block;
}
.profile-information .profile-statistics h1 {
    color:#757575;
    font-size:24px;
    font-weight:400;
    margin-bottom:5px;
}
.profile-information .profile-statistics p {
    margin-bottom:15px;
    display:inline-block;
}
.profile-information .profile-statistics ul {
    margin-top:10px;
}
.profile-information .profile-statistics ul li {
    float:left;
    margin-right:10px;
}
.profile-information .profile-statistics ul li a {
    background:#f6f6f6;
    text-align:center;
    border-radius:50%;
    -webkit-border-radius:50%;
    width:30px;
    height:30px;
    line-height:30px;
    float:left;
}
.profile-information .profile-statistics ul li a:hover {
    color: #1fb5ad;
}
/*-----*/
.profile-nav .user-heading {
    color:#fff;
    border-radius:4px 4px 0 0;
    -webkit-border-radius:4px 4px 0 0;
    padding:30px;
    text-align:center;
}
.profile-nav .user-heading.round a {
    border-radius:50%;
    -webkit-border-radius:50%;
    border:10px solid rgba(256,256,256,0.3);
    display:inline-block;
}
.profile-nav .user-heading a img {
    width:112px;
    height:112px;
    border-radius:50%;
    -webkit-border-radius:50%;
}
.profile-nav .user-heading h1 {
    font-size:20px;
    font-weight:300;
    margin-bottom:5px;
}
.profile-nav .user-heading p {
    font-size:16px;
    color:#8b8b8b;
    line-height:25px;
}
.profile-nav ul {
    margin-top:1px;
}
.profile-nav ul>li {
    border-bottom:1px solid #ebeae6;
    margin-top:0;
    line-height:30px;
}
.profile-nav ul>li:last-child {
    border-bottom:none;
}
.profile-nav ul>li>a {
    border-radius:0;
    -webkit-border-radius:0;
    color:#89817f;
}
.profile-nav ul>li>a:hover,.profile-nav ul>li>a:focus,.profile-nav ul li.active a {
    background:#f8f7f5 !important;
    color:#89817f !important;
}
.profile-nav ul>li:last-child>a:last-child {
    border-radius:0 0 4px 4px;
    -webkit-border-radius:0 0 4px 4px;
}
.profile-nav ul>li>a>i {
    font-size:16px;
    padding-right:10px;
    color:#bcb3aa;
}
.r-activity {
    margin:6px 0 0;
    font-size: 12px;
}
/*-----*/
.recent-act {
    border-collapse:collapse;
    border-spacing:0;
    display:table;
    position:relative;
    table-layout:fixed;
    width:100%;
}
.recent-act:before {
    background-color:#eeeeee;
    bottom:0;
    content:"";
    left:50%;
    position:absolute;
    top:50px;
    width:2px;
    z-index:0;
}
.recent-act h1 {
    text-align:center;
    color:#1fb5ad;
    font-size:16px;
    font-weight:bold;
    text-transform:uppercase;
}
.activity-icon.terques {
    background:#8fd6d6;
}
.activity-icon.red {
    background:#EF6F66;
}
.activity-icon.purple {
    background:#bda4ec;
}
.activity-icon.green {
    background:#aec785;
}
.activity-icon.yellow {
    background:#fed65a;
}
.activity-icon {
    border-radius:50%;
    -webkit-border-radius:50%;
    color:#FFFFFF;
    height:30px;
    line-height:30px;
    text-align:center;
    width:30px;
    margin:20px auto 20px;
    position:relative;
}
.activity-icon {
    background:#C7CBD6;
}
.activity-desk {
    padding:15px 30px;
    background:#f2f2f2;
    border-radius:5px;
    -webkit-border-radius:5px;
    position:relative;
    text-align:center;
}
.activity-desk h2 {
    color:#1fb5ad;
    font-size:14px;
    font-weight:bold;
    margin:0 0 10px 0;
    text-transform:uppercase;
}
.activity-desk .terques {
    color:#1fb5ad;
}
.activity-desk .red {
    color:#EF6F66;
}
.activity-desk .purple {
    color:#bda4ec;
}
.activity-desk .green {
    color:#aec785;
}
.activity-desk .yellow {
    color:#fed65a;
}
.activity-desk .blue {
    color:#20aaf1;
}
.photo-gl {
    margin-top:10px;
    display:inline-block;
}
.photo-gl a {
    margin:0 10px;
}
.photo-gl a img {
    border:1px solid #c8c8c8;
    width:150px;
    height:120px;
}
.prf-box {
    display:inline-block;
    width:100%;
    margin-bottom:30px;
}
.prf-border-head {
    color:#1fb5ad;
    border-bottom:1px solid #f1f2f7;
    font-size:16px;
    font-weight:bold;
    padding-bottom:10px;
    margin-bottom:20px;
    text-transform:uppercase;
}
.wk-progress {
    border-bottom:1px solid #f1f2f7;
    margin-bottom:20px;
    width:100%;
    display:inline-block;
}
.pf-status {
    padding-bottom:25px;
}
.tm-avatar img {
    width:50px;
    height:50px;
    border-radius:50%;
    -webkit-border-radius:50%;
}
.tm-membr {
    padding-bottom:12px;
    margin-bottom:10px;
}
.tm-membr .tm {
    padding-top:10px;
    display:inline-block;
    padding-left: 10px;
}
/*profile contact*/
.prf-contacts h2 {
    color:#1fb5ad;
    font-size:16px;
    margin-top:0;
    text-transform:uppercase;
}
.prf-contacts h2 span {
    width:40px;
    height:40px;
    line-height:42px;
    background:#1fb5ad;
    color:#fff;
    border-radius:50%;
    -webkit-border-radius:50%;
    display:inline-block;
    text-align:center;
    margin-right:15px;
}
.prf-contacts h2 span i {
    font-size:16px;
}
.prf-contacts .location-info {
    margin-left:60px;
}
.prf-contacts .location-info p {
    padding-bottom:30px;
}
.prf-map {
    width:430px;
    height:430px;
    border-radius:50%;
    -webkit-border-radius:50%;
    border:10px solid #e6e6e6;
    margin-top:50px;
}
.sttng h2 {
    margin: 20px 0;
}






/*panel heading color*/
.panel-primary>.panel-heading.navyblue {
    background-color:#2A3542;
    border-color:#2A3542;
    color: #FFFFFF;
}

/*button*/
.btn-row {
    margin-bottom: 10px;
}



/*tabs*/
.tab-head {
    background:#7087a3;
    display:inline-block;
    width:100%;
    margin-top:60px;
}
.tab-container {
    margin-top:10px;
}
.tab-head .nav-tabs>li>a {
    border-radius:0;
    margin-right:1px;
    color:#fff;
}
.tab-head .nav-tabs>li.active>a,.tab-head .nav-tabs>li>a:hover,.tab-head .nav-tabs>li.active>a:hover,.tab-head .nav-tabs>li.active>a:focus {
    background-color:#f1f2f7;
    border-color:#f1f2f7;
    color: #797979;
}


/*general page*/
.panel-heading .nav {
    border:medium none;
    font-size:13px;
    margin:-15px -15px -15px;
}
.tab-bg-dark-navy-blue ul>li>a {
    display:block;
    padding:20px 15px !important;
}
.tab-bg-dark-navy-blue {
    background:#e0e1e7;
    border-radius:5px 5px 0 0;
    -webkit-border-radius:5px 5px 0 0;
    border-bottom:none;
}
.panel-heading .nav>li>a,.panel-heading .nav>li.active>a,.panel-heading .nav>li.active>a:hover,.panel-heading .nav>li.active>a:focus {
    border-width:0;
    border-radius:0;
}
.panel-heading .nav>li>a {
    color:#898989;
}
.panel-heading .nav>li.active>a,.panel-heading .nav>li>a:hover {
    color:#1fb5ad;
    background:#fff;
}
.panel-heading .nav>li:first-child.active>a,.panel-heading .nav>li:first-child>a:hover {
    border-radius:4px 0 0 0;
    -webkit-border-radius:4px 0 0 0;
}
.tab-right {
    height:58px;
}
.panel-heading.tab-right .nav>li:first-child.active>a,.tab-right.panel-heading .nav>li:first-child>a:hover {
    border-radius:0;
    -webkit-border-radius:0;
}
.panel-heading.tab-right .nav>li:last-child.active>a,.tab-right.panel-heading .nav>li:last-child>a:hover {
    border-radius:0 4px 0 0;
    -webkit-border-radius:0 4px 0 0;
}
.panel-heading.tab-right .nav-tabs>li>a {
    margin-left:1px;
    margin-right:0px;
}
.m-bot20 {
    margin-bottom:20px;
}
.m-bot-none {
    margin-bottom:0;
}
.wht-color {
    color:#fff;
}
.close-sm {
    font-size: 14px;
}




/*form*/
.sm-input {
    width:175px;
}
.form-horizontal.bucket-form .form-group {
    border-bottom:1px solid #eff2f7;
    padding-bottom:15px;
    margin-bottom:15px;
}
.form-horizontal.bucket-form .form-group:last-child {
    border-bottom:none;
    padding-bottom:0px;
    margin-bottom:0px;
}
.form-horizontal.bucket-form .form-group .help-block {
    margin-bottom:0;
}
.round-input {
    border-radius:500px;
    -webkit-border-radius:500px;
}
.m-bot15 {
    margin-bottom:15px;
}
.form-horizontal.bucket-form .checkbox-inline>input {
    margin-top:1px;
    border:none;
}
.btn.btn-info.dropdown-toggle {
    border-left: 1px solid #1fadea;
}
/*custom checkox & radio btn*/
.icheck div,.icheck .disabled {
    float:left;
}
.icheck div {
    margin-right:10px;
}
.icheck label {
    font-weight:normal;
}
.icheck .checkbox,.icheck .radio {
    margin-bottom:10px;
}
.icheck .single-row {
    display:inline-block;
    width: 100%;
}
/*form validation*/
.cmxform .form-group label.error {
    display:inline;
    margin:5px 0;
    color:#B94A48;
    font-weight:400;
}
input:focus:invalid:focus,textarea:focus:invalid:focus,select:focus:invalid:focus,.cmxform .form-group input.error,.cmxform .form-group textarea.error {
    border-color:#B94A48 !important;
}

.checkbox,.checkbox:hover,.checkbox:focus {
    border: none;
}



.top-menu .dropdown-menu:after,.top-menu .dropdown-menu:before {
    bottom:100%;
    left:9%;
    border:solid transparent;
    content:" ";
    height:0;
    width:0;
    position:absolute;
    pointer-events:none;
}
.top-menu .dropdown-menu:after {
    border-color:rgba(255,255,255,0);
    border-bottom-color:#ffffff;
    border-width:7px;
    margin-left:-7px;
}
.top-menu .dropdown-menu:before {
    border-color:rgba(238,238,238,0);
    border-bottom-color:#eeeeee;
    border-width:8px;
    margin-left:-8px;
}
.pull-right.top-menu .dropdown-menu:after,.pull-right.top-menu .dropdown-menu:before {
    bottom:100%;
    left:90%;
    border:solid transparent;
    content:" ";
    height:0;
    width:0;
    position:absolute;
    pointer-events:none;
}
.pull-right.top-menu .dropdown-menu:after {
    border-color:rgba(255,255,255,0);
    border-bottom-color:#ffffff;
    border-width:7px;
    margin-left:-7px;
}
.pull-right.top-menu .dropdown-menu:before {
    border-color:rgba(238,238,238,0);
    border-bottom-color:#eeeeee;
    border-width:8px;
    margin-left: -8px;
}
